<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 开启驼峰式命名规则 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- 开启二级缓存 -->
		<setting name="cacheEnabled" value="true" />
		<!-- 开启懒加载 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 在控制台打印sql語句 -->
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
	<typeAliases>
		<package name="com.simple.wedding.entitys" />
	</typeAliases>
</configuration>
